body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

table {
    margin: 50px auto;
    background-color: #fff;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    text-shadow: 1px 1px #ddd;
}